Rld.Acs.WpfApplication/Service References/DeviceProxy/DeviceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.realand.com/DeviceSystem/" elementFormDefault="qualified" targetNamespace="http://www.realand.com/DeviceSystem/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11727/DeviceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" />
  <xs:import schemaLocation="http://localhost:11727/DeviceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:11727/DeviceService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SyncDBUsersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Devices" nillable="true" type="q1:ArrayOfDeviceController" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Users" nillable="true" type="q2:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDBUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ResultTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="AuthenticationError" />
      <xs:enumeration value="AuthorizationError" />
      <xs:enumeration value="DataValidationError" />
      <xs:enumeration value="BussinessLogicError" />
      <xs:enumeration value="NotSupportError" />
      <xs:enumeration value="DeviceNotConnected" />
      <xs:enumeration value="Queued">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">98</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnknownError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultTypes" nillable="true" type="tns:ResultTypes" />
  <xs:element name="SyncDepartmentUsersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Departments" nillable="true" type="q4:ArrayOfDepartment" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Devices" nillable="true" type="q5:ArrayOfDeviceController" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDepartmentUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeviceUsersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Devices" nillable="true" type="q7:ArrayOfDeviceController" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Users" nillable="true" type="q8:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeviceUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDevicesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="NewDeviceControllers" nillable="true" type="q10:ArrayOfDeviceController" />
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeviceTrafficLogsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Devices" nillable="true" type="q12:ArrayOfDeviceController" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeviceTrafficLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeviceOperationLogsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Devices" nillable="true" type="q14:ArrayOfDeviceController" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeviceOperationLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncTimeGroupsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Devices" nillable="true" type="q16:ArrayOfDeviceController" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="TimeGroups" nillable="true" type="q17:ArrayOfTimeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncTimeGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncTimeSegmentsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Devices" nillable="true" type="q19:ArrayOfDeviceController" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="TimeSegments" nillable="true" type="q20:ArrayOfTimeSegment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncTimeSegmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncTimeZonesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="Devices" nillable="true" type="q22:ArrayOfDeviceController" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Rld.Acs.Model" minOccurs="0" name="TimeZones" nillable="true" type="q23:ArrayOfTimeZone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncTimeZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoorStateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceCode" type="xs:int" />
        <xs:element minOccurs="0" name="DoorIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoorStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOpened" type="xs:boolean" />
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoorStateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceCode" type="xs:int" />
        <xs:element minOccurs="0" name="DoorIndex" type="xs:int" />
        <xs:element minOccurs="0" name="Option" type="tns:DoorControlOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="DoorControlOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Open">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Auto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KeepOpen">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KeepClose">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Close">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CancelAlarm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DoorControlOption" nillable="true" type="tns:DoorControlOption" />
  <xs:element name="UpdateDoorStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNewDevicesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNewDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NewDeviceCodes" nillable="true" type="q27:ArrayOfint" />
        <xs:element minOccurs="0" name="ResultType" type="tns:ResultTypes" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>